<!DOCTYPE html>
<html lang="en">
  <body>
    <main>
      <div>
        <form action="/animals" method="post">
          <fieldset>
              <legend>Create a New Animal</legend>
            <label>
              NAME:<input
                type="text"
                name="name"
                placeholder="enter animal name"
              />
            </label>
            <label>
              COLOR:<input
                type="text"
                name="color"
                placeholder="enter animal name"
              />
            </label>
            <label>
              Is Cute:<input type="checkbox" name="isCute" />
            </label>
          </fieldset>
          <input type="submit" value="create new animal" />
        </form>
      </div>
    </main>
  </body>
</html>